/* Diagnostic Styling */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center; 
    height: 100vh;
    color: black;
  }
  
  /* main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
  } */


  /* temp styling */
  time {
    font-size: 4rem;
  }
  
  date {
    font-size: 1.7rem;
  }
  
  .hours {
  }
  
  .minutes {
  }
  
  .seconds {
  }
  
  .amOrPM {
  }
  
  .month {
    color: #507CF2;
  }
  
  .dayOfMonth {
  }
  
  .year {
  }
  
  .dayOfWeek {
  }
  
  /* dark mode */
  .dark {
    background: black;
    color: white;
  }
  
  #switcher {
  }